@section Scripts{
    <script type="text/javascript">
        $(function () {
            $("#txtDateFrom").datepicker({
                dateFormat: 'dd/mm/yy',
                showButtonPanel: true
            });
            $("#txtDateTo").datepicker({
                dateFormat: 'dd/mm/yy',
                showButtonPanel: true
            });

            // Submit Search
            $("#btnSearch").click(function () {

                // Chekc date field is empty
                if ($.trim($("#txtDateFrom").val()) == "" || $.trim($("#txtDateTo").val()) == "") {
                    alert("กรุณากรอกข้อมูลวันที่ให้ครบถ้วน!");
                    return false;
                }

                // Check date from > date to
                var from = $.trim($("#txtDateFrom").val()).split('/');
                var dateFrom = new Date(from[2], (from[1] - 1), from[0]);
                var to = $.trim($("#txtDateTo").val()).split('/');
                var dateTo = new Date(to[2], (to[1] - 1), to[0]);
                if (dateFrom > dateTo) {
                    alert("กรุณากรอกข้อมูลวันที่ให้ถูกต้อง!");
                    return false;
                }

                // Prepare query string
                var QString = "datefrom=" + $("#txtDateFrom").val() + "&dateto=" + $("#txtDateTo").val();

                $("#divGrid").hide().fadeIn().html('<table id="DCGrid"></table><div id="pager"></div>');

                $('#DCGrid').jqGrid({
                    colNames: ['Loading By', 'Loading Date', 'Loading Time', 'Shift', 'WC', 'Parent Item', 'Item', 'Delivery No.', 'Plant', 'Job No', 'Lot No.', 'Qty(pcs)'],
                    colModel: [
                                    {
                                        name: 'loading_user', index: 'loading_user', align: 'left'
                                    },
                                    {
                                        name: 'loading_date', index: 'loading_date', align: 'center'
                                    },
                                    {
                                        name: 'loading_time', index: 'loading_time', align: 'center', width: '120px'
                                    },
                                    {
                                        name: 'working_shift', index: 'working_shift', align: 'center', width: '60px'
                                    },
                                    {
                                        name: 'wc', index: 'wc', align: 'left', width: '60px'
                                    },
                                    {
                                        name: 'finished_goods_code', index: 'finished_goods_code', align: 'left'
                                    },
                                    {
                                        name: 'part_code', index: 'part_code', align: 'left'
                                    },
                                    {
                                        name: 'delivery_no', index: 'delivery_no', align: 'left'
                                    },
                                    {
                                        name: 'plant', index: 'plant', align: 'left', width: '80px'
                                    },
                                    {
                                        name: 'part_job_order_no', index: 'part_job_order_no', align: 'left'
                                    },
                                    {
                                        name: 'tag_no', index: 'tag_no', align: 'left', width: '100px'
                                    },
                                    {
                                        name: 'qty', index: 'qty', align: 'right', formatter: 'integer', width: '100px'
                                    }
                    ],

                    sortname: 'print_date',
                    pagerpos: 'left',
                    autowidth: true,
                    caption: 'Waiting For Production Receive',
                    datatype: 'json',
                    height: '100%',
                    pager: '#pager',
                    rowList: [15, 20, 30, 50, 100],
                    rowNum: 15,
                    url: '@Url.Action("GetWaitForReceive", "Report")?' + QString,
                    mtype: 'GET',
                    rownumbers: true,
                    rownumWidth: '50px',
                    viewrecords: true,
                    excel: true,
                    loadtext: ''
                });

                $(".ui-pg-input").css("width", "40px");
                $("#frmExport").css("display", "inline");
                return false;
            });

            $("#frmExport").submit(function () {
                var grid = $('#DCGrid');
                $('#sidx').val(grid.getGridParam('sortname'));
                $('#sord').val(grid.getGridParam('sortorder'));
                $('#edateFrom').val($("#txtDateFrom").val());
                $('#edateTo').val($("#txtDateTo").val());

                return true;
            });
        });
    </script>
}


<h2>@ViewBag.Title</h2>

<ul class="advanceSearch">
    <li class="title">Loading Date *</li>
    <li><input type="text" id="txtDateFrom" name="txtDateFrom" /> - <input type="text" id="txtDateTo" name="txtDateTo" /></li>
    
    <li class="title">
        <br />
        <button type="button" id="btnSearch">Search</button>
        @using (Html.BeginForm("ExportToExcelWaitForReceive", "Report", FormMethod.Post, new { id = "frmExport", style = "display:none" }))
        {
            @Html.Hidden("sidx")
            @Html.Hidden("sord")
            @Html.Hidden("edateFrom")
            @Html.Hidden("edateTo")

            <text><button type='submit' id='btnExport'><img class='imgBtn' title='Export to Excel' src='@Url.Content("~/Images/led_icons/page_excel.png")' /> Export</button></text>
        }
    </li>
</ul>

<div style="clear: both"></div>

<br /><br />

<div id="divGrid"></div>
